/target
.env
.env.local
.env.*.local
finally-a-value-bot.config.yaml
finally-a-value-bot.config.yaml.*
finally-a-value-bot.data/*
website/
tmp/
working_dir/
web/node_modules/
shared/*

.cursorrules
workspace/*
